{#
/**
 * @file
 * Default theme implementation to present a tax exemption entity.
 *
 * This template is used when viewing a registered tax exemption's page,
 * e.g., /admin/commerce/tax-exemptions)/123. 123 being the tax exemption's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_tax_exemption()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
